/* Global start */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #f5f8ff;
  font-family: "Raleway", sans-serif;
}

nav,
main,
footer {
  max-width: 1140px;
  margin: 0 auto;

}

/* Global end */
/* header start */
header {

  width: 100%;
  display: flex;
  background: url("./Assets/Hero-bg.png");
  flex-direction: column;
  align-items: center;


}

header nav {

  width: 1140px;
  height: auto;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0px 50px 0px;
  background: transparent;
}

header nav .logo {
  width: 97px;
  height: 51px;
  font-size: 34px;
  font-family: Inter;
  color: #4e47ff;
  font-weight: 900;
  line-height: 1.5;
}

/* button start */
.btn {
  padding: 12px 36px 12px 36px;
  background: #4e47ffFF;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  height: 48px;
  font-weight: 700;
}

.btn:hover {
  background: #252432;
  transition: ease-in-out;
}

/* button end */
.hero-header {
  width: 905px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  align-content: center;
  margin: 158px 0px 200px 0px;

}

.hero-header .heading-text {

  color: #252432;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2;
  height: 156px;
  text-align: center;
}

/* header end */




/* footer-css */

footer {
  background: #ffffff;
  border: 1px solid #0000001A;
}

footer .footer-content {

  margin: 100px auto;
  width: 531px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content .footer-logo {
  font-size: 100px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 1.2;
  color: #4e47ff;
}

.footer-content .footer-text {
  color: #8987a1;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.footer-content .footer-nav ul {
  display: flex;
  width: 401px;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
}

.footer-content .footer-nav ul li a {
  text-decoration: none;
  color: #8987a1;
  font-size: 16px;
  font-family: "Raleway", sans-serif;

}